// colors
$backCol: hsl(268deg 21% 14%);
$headerColor: hsl(0, 0%, 100%);
$timeColor: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$timerBack: hsl(236, 21%, 26%);
$timerTobCol: hsl(236deg 22% 19%);
$timerBottCol: hsl(236deg 21% 26%);
$timerBadge: hsl(244deg 13% 57%);

// sizes
$letterSpace: 8px;
$fontWeight: 700;